/*Estilos formularios*/
.smart-blue {margin-top:2%;border:solid;border-width: 1px;border-color: #132B5A;margin-left: 5%;max-width: 65%;background: white;padding: 4% 4% 1% 4%;font-size: 80%;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.smart-blue h3,.smart-blue h1 {padding: 3% 0px 2% 4%;display: block;margin: -6% -6% 1% -6%;color: #FFF;border-radius: 5px 5px 0px 0px;-webkit-border-radius: 5px 5px 0px 0px;-moz-border-radius: 5px 5px 0px 0px;border-bottom:1px solid #89AF4C; background: #132B5A url('../img/azul.jpg') no-repeat; }
.smart-blue label {display: block;margin: 0px 0px 1%;}
.smart-blue label>span{float: left;margin-top: 2%;}
.smart-blue input[type="password"],.smart-blue input[type="url"],.smart-blue input[type="number"],.smart-blue input[type="date"], .smart-blue input[type="text"], .smart-blue input[type="email"], .smart-blue textarea, .smart-blue select {
    color: black;height: 30px;width: 100%;padding: 0px 0px 0px 1%;margin-top: 2px;border: 1px solid #E5E5E5;background: #FBFBFB;-webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);}
.smart-blue .button {background-color: #132B5A;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-border-radius: 5px;border: none;padding: 2% 3% 2% 3%;color: #FFF;margin-top: 3%; margin-left: 40%;}
.smart-blue .button:hover {background-color:#B8BEC9;}
.errorFormulario{color:red;font-style: italic;}

/*Estilos formulario a dos columnas*/
.dosColumnas{width: 48%;float: left;}
.derecha{margin-left: 4%;}
.dosColumnas, .derecha{margin-top: 2%; margin-bottom: 2%;}


/*Estilo para búsquedas sobre formularios*/
#busquedaDentro{width: 90%;}
#busquedaDentro div img{width: 20%;}
#busquedaDentro div{width: 20%;margin-top: 7%;}
#busqueda{margin: 3% auto 0 auto;width:90%;}
#campoBusqueda{width: 70% !important;}
#busqueda button img{width: 20%;}
#busqueda button{width: 10%;margin-right: 8%;margin-top: 3px;}
#resultadoBusqueda span{margin-left: 30%; color: red;}

/*Estilo para búsqueda de catalogos*/
#busquedaCatalogos{width: 80%;  margin-bottom: 3%;}
#busquedaCatalogos select {width: 50%;}

/*Estilos extra (caratula y gif)*/
#caratula{width: 80%;}
#enlaceBiblioteca {margin-left: -30%; margin-top: 5%; width: 70%;}

/*Errores*/
#errorBusqueda1{font-size: 70%;}


/*Estilos para errores*/
#errorBusqueda1{font-size: 80%;margin-left: 25%;}
#errorBusqueda{margin: 3% auto 3% auto; width: 40%;}

/*Estilos para las tablas*/
#tablaResultado{text-align: center;}
#tablaResultado th{border-bottom: solid; border-top: solid; margin-bottom: 10%; padding-bottom: 3%; padding-top: 3%;}
#tablaResultado td{padding-bottom: 3%; padding-top: 3%;}

/*Estilos para editar catálogos*/
#resultadoBusqueda table{width: 100%; margin-top: 5%;}
.botonGuardaCambios{margin-left: 7%; padding: 3%;}

